n8n-workflows/IDRAS - Intelligent Document Router.json
{
  "name": "IDRAS - Intelligent Document Router",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1344,
        -7552
      ],
      "id": "3bffe9db-b334-4453-a487-55fb81d29043",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1gdjrSS0bSGu8-yVy98W8JVXGJvdLWPwR",
            "mode": "list",
            "cachedResultName": "INBOX",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1gdjrSS0bSGu8-yVy98W8JVXGJvdLWPwR"
          }
        },
        "options": {}
      },
      "id": "1f29ddea-9e95-4259-bd6b-7c959332144f",
      "name": "Search INBOX (Schedule)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1104,
        -7552
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4zD7CVdjLWzHK13Q",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9f061ae9-56b9-4280-91ef-ef4b20b870fd",
      "name": "Loop Over Items (Schedule)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -864,
        -7552
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "ft-pdf"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "ft-image"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "officedocument",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "ft-office"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Office"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "ft-text"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -384,
        -7552
      ],
      "id": "27795b5d-b6e2-41b4-af56-5f7a01dfa616",
      "name": "File Type Switch (Schedule)"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "574ee0c4-1d74-4e29-9c0f-4e24f104ab3d",
      "name": "Extract PDF (Schedule)",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -144,
        -7760
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract text từ DOCX bằng cách đọc XML bên trong (DOCX = ZIP file)\n// Không cần thư viện ngoài - chỉ dùng built-in Buffer\n\nconst item = $input.first();\nconst binaryKey = item.binary ? Object.keys(item.binary)[0] : 'data';\nconst binaryData = item.binary?.[binaryKey];\n\nif (!binaryData) {\n  return [{ json: { ...item.json, text: 'Không có binary data' } }];\n}\n\ntry {\n  // Convert base64 → string, tìm text trong XML của docx\n  const base64 = binaryData.data;\n  const raw = Buffer.from(base64, 'base64').toString('binary');\n  \n  // DOCX là ZIP, tìm phần word/document.xml và extract text giữa các tag XML\n  // Tìm đoạn text giữa <w:t> tags\n  const matches = raw.match(/<w:t[^>]*>([^<]+)<\\/w:t>/g) || [];\n  const text = matches\n    .map(m => m.replace(/<w:t[^>]*>/g, '').replace(/<\\/w:t>/g, ''))\n    .join(' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n  \n  return [{\n    json: {\n      ...item.json,\n      text: text.slice(0, 5000) || ('Tên file: ' + (item.json.name || ''))\n    },\n    binary: item.binary\n  }];\n} catch(err) {\n  return [{\n    json: {\n      ...item.json,\n      text: 'Tên file: ' + (item.json.name || '')\n    },\n    binary: item.binary\n  }];\n}"
      },
      "id": "743b5ddc-8ac1-4fed-b28f-06cc8829f7a2",
      "name": "Extract Text/Office (Schedule)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        -7360
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.ParsedResults?.[0]?.ParsedText ? \"Dưới đây là nội dung văn bản trích xuất từ ảnh, hãy phân loại nó: \" + $json.ParsedResults[0].ParsedText : ($json.text ? $json.text : \"Đây là file: \" + ($json.imageFileName || $json.fileName || \"Tài liệu\") + \". Không có văn bản OCR, hãy đoán loại dựa trên tên file này.\") }}",
        "options": {
          "systemMessage": "Bạn là chuyên gia phân loại tài liệu tiếng Việt.\n\nPhân loại chính xác tài liệu vào đúng 1 trong các category sau:\n- Hóa đơn\n- Hợp đồng\n- CV / Resume\n- Biên nhận / Receipt\n- Báo cáo tài chính\n- Khác\n\nTrả về đúng định dạng JSON:\n{\"category\": \"Hóa đơn\", \"confidence\": 0.92, \"reason\": \"lý do ngắn gọn\"}\n\nQuy tắc bắt buộc:\n- CHỈ trả về JSON thuần túy\n- KHÔNG dùng markdown, KHÔNG dùng ```json hay ```\n- Bắt đầu bằng { và kết thúc bằng }\n- confidence là số thực từ 0.0 đến 1.0"
        }
      },
      "id": "670f8af5-50f6-43e6-8ca6-4476595630fa",
      "name": "AI Classify (Schedule)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        112,
        -7440
      ]
    },
    {
      "parameters": {
        "jsCode": "// 1. Lấy output từ AI\nconst aiRawOutput = $input.first().json.output || '';\n\n// 2. Parse JSON AI\nlet parsedAI;\ntry {\n  const clean = aiRawOutput.replace(/```json|```/g, '').trim();\n  parsedAI = JSON.parse(clean);\n} catch (e) {\n  parsedAI = { category: 'Khác', confidence: 0.3, reason: 'Lỗi parse' };\n}\n\n// 3. Lấy thông tin FILE từ node \"Download File\"\nlet fileId = '';\nlet fileName = '';\nlet miniType = ''; \n\ntry {\n  // Tìm node Download File\n  const downloadNode = $('Download File').first();\n  \n  if (downloadNode) {\n    fileId = downloadNode.json.id || '';\n    fileName = downloadNode.json.name || '';\n    \n    // CỐ GẮNG LẤY mimeType TỪ NHIỀU NGUỒN KHÁC NHAU\n    // n8n Google Drive node thường để ở json.mimeType hoặc trong binary\n    miniType = downloadNode.json.mimeType || \n               (downloadNode.binary && downloadNode.binary.data ? downloadNode.binary.data.mimeType : '');\n               \n    // Nếu vẫn trống, thử đoán dựa trên đuôi file (Dành cho docx, pdf, xlsx)\n    if (!miniType && fileName.includes('.')) {\n      const ext = fileName.split('.').pop().toLowerCase();\n      const mimeMap = {\n        'docx': 'application/vnd.openxmlformats-officedocument.wordprocessingml.document',\n        'pdf': 'application/pdf',\n        'xlsx': 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',\n        'jpg': 'image/jpeg',\n        'png': 'image/png'\n      };\n      miniType = mimeMap[ext] || 'unknown/' + ext;\n    }\n  }\n} catch (err) {\n  fileId = 'N/A';\n}\n\n// 4. Trả về kết quả\nreturn [{\n  json: {\n    category: parsedAI.category || 'Khác',\n    confidence: parsedAI.confidence || 0,\n    reason: parsedAI.reason || '',\n    fileId: fileId,\n    fileName: fileName,\n    miniType: miniType || 'application/octet-stream', // Nếu không tìm thấy thì để mặc định\n    processedAt: new Date().toLocaleString('vi-VN'),\n    source: 'n8n_system'\n  }\n}];"
      },
      "id": "078932aa-39bf-4db4-85c4-b0d578750890",
      "name": "Parse & Validate (Schedule)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -7552
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "conf-low-s",
                    "leftValue": "={{ $json.confidence }}",
                    "rightValue": 0.6,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Low Confidence"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "conf-high-s",
                    "leftValue": "={{ $json.confidence }}",
                    "rightValue": 0.6,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "High Confidence"
            }
          ]
        },
        "options": {}
      },
      "id": "7352deac-59c7-4ef1-91ce-f6b4c7c067fa",
      "name": "Confidence Check (Schedule)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        528,
        -7792
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/1/folders/1cz3Tl7gmU0C_CPuj_YclHrE1OQlpVhu0",
          "mode": "url"
        }
      },
      "id": "7d5a13e4-b664-48f0-8447-3bdfb86bb9a8",
      "name": "Move to REVIEW (Schedule)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        832,
        -7760
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r1",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Hóa đơn",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Hóa đơn"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r2",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Hợp đồng",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Hợp đồng"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r3",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "CV / Resume",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CV / Resume"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r4",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Biên nhận / Receipt",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Biên nhận"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r5",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Báo cáo tài chính",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Báo cáo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r6",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Khác",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Khác"
            }
          ]
        },
        "options": {}
      },
      "id": "94cf601b-3c6c-4de7-867e-49367de9a666",
      "name": "Document Routing (Schedule)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        816,
        -7456
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/1/folders/1eVepqu2WOY30GTGNBAxyjbnhGvL4uPma",
          "mode": "url"
        }
      },
      "id": "0afdcaf3-fad1-48a0-893e-42a5acad9de7",
      "name": "Move Hóa Đơn (S)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1104,
        -7664
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/1/folders/1Ni90EXtfUSia6qeesCJIaLzJ_PzTfMx0",
          "mode": "url"
        }
      },
      "id": "500fdd3f-b144-4d12-8ee1-b03e0e82cd36",
      "name": "Move Hợp Đồng (S)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1104,
        -7536
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/1/folders/13DFWV7RfkFyOKQfSLPC96ZJrR6Fj-mBF",
          "mode": "url"
        }
      },
      "id": "672f49c8-3b34-4b22-a021-c706be88faf2",
      "name": "Move CV (S)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1104,
        -7408
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/1/folders/18-Aa31g2nvgwwX7misq0il1T3kddWIlC",
          "mode": "url"
        }
      },
      "id": "31c6f981-406a-458f-8535-e5175e1e562a",
      "name": "Move Biên Nhận (S)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1104,
        -7264
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "1A16LRYa1RNPBzVsnzUVLFESUFz02FAan"
        }
      },
      "id": "d19d6ab8-c4c9-4005-a782-f1665c557b5c",
      "name": "Move Báo Cáo (S)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1104,
        -7120
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1KwhIgNOkhW1iDeiJlk1LQ30hNGNbxHHX",
          "mode": "id"
        }
      },
      "id": "d42e2a2e-a9a8-419a-85e5-a0cebaccce20",
      "name": "Move Khác (S)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1104,
        -6992
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18PsQ6PxVH--6rFuDeNaZoJy2u_EUjme1pMBbSa6m1jo",
          "mode": "list",
          "cachedResultName": "IDRAS - Báo cáo tự động",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18PsQ6PxVH--6rFuDeNaZoJy2u_EUjme1pMBbSa6m1jo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18PsQ6PxVH--6rFuDeNaZoJy2u_EUjme1pMBbSa6m1jo/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $node[\"Parse & Validate (Schedule)\"].json.fileId }}",
            "Tên File": "={{ $node[\"Parse & Validate (Schedule)\"].json.fileName }}",
            "Loại File": "={{ $json.mimeType }}",
            "Phân Loại": "={{ $node[\"Parse & Validate (Schedule)\"].json.category }}",
            "Độ Tự Tin": "={{ $node[\"Parse & Validate (Schedule)\"].json.confidence }}",
            "Lý Do": "={{ $node[\"Parse & Validate (Schedule)\"].json.reason }}",
            "Thời Gian": "={{ $node[\"Parse & Validate (Schedule)\"].json.processedAt }}",
            "Nguồn": "={{ $node[\"Parse & Validate (Schedule)\"].json.source }}",
            "Trạng Thái": "Thành công"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tên File",
              "displayName": "Tên File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Loại File",
              "displayName": "Loại File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Phân Loại",
              "displayName": "Phân Loại",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Độ Tự Tin",
              "displayName": "Độ Tự Tin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Lý Do",
              "displayName": "Lý Do",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Thời Gian",
              "displayName": "Thời Gian",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Nguồn",
              "displayName": "Nguồn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Trạng Thái",
              "displayName": "Trạng Thái",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "5bac8c2d-f3d0-4893-a129-19bdcb1e9c9d",
      "name": "Log to Sheets (Schedule)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1648,
        -7008
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18PsQ6PxVH--6rFuDeNaZoJy2u_EUjme1pMBbSa6m1jo",
          "mode": "list",
          "cachedResultName": "IDRAS - Báo cáo tự động",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18PsQ6PxVH--6rFuDeNaZoJy2u_EUjme1pMBbSa6m1jo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18PsQ6PxVH--6rFuDeNaZoJy2u_EUjme1pMBbSa6m1jo/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $node[\"Parse & Validate (Schedule)\"].json.fileId }}",
            "Tên File": "={{ $node[\"Parse & Validate (Schedule)\"].json.fileName }}",
            "Loại File": "={{ $node[\"Parse & Validate (Schedule)\"].json.miniType }}",
            "Phân Loại": "={{ $node[\"Parse & Validate (Schedule)\"].json.category }}",
            "Độ Tự Tin": "={{ $node[\"Parse & Validate (Schedule)\"].json.confidence }}",
            "Lý Do": "={{ $node[\"Parse & Validate (Schedule)\"].json.reason }}",
            "Thời Gian": "={{ $node[\"Parse & Validate (Schedule)\"].json.processedAt }}",
            "Nguồn": "={{ $node[\"Parse & Validate (Schedule)\"].json.source }}",
            "Trạng Thái": "Can Review"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tên File",
              "displayName": "Tên File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Loại File",
              "displayName": "Loại File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phân Loại",
              "displayName": "Phân Loại",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Độ Tự Tin",
              "displayName": "Độ Tự Tin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lý Do",
              "displayName": "Lý Do",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thời Gian",
              "displayName": "Thời Gian",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nguồn",
              "displayName": "Nguồn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng Thái",
              "displayName": "Trạng Thái",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "bc53cfbb-a076-42c5-87f8-f115b7034f08",
      "name": "Log Review to Sheets (Schedule)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1360,
        -7760
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "520b3022-9d0b-4be8-8d37-0f186c8b7464",
      "name": "Extract Text Only (Schedule)",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -144,
        -7184
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {}
      },
      "id": "d196afd6-6d91-40da-9a9f-4dd1f5ea7156",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -608,
        -7552
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        112,
        -7248
      ],
      "id": "18913267-f121-4c2f-9b05-1448e951f826",
      "name": "Groq Chat Model"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search INBOX (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search INBOX (Schedule)": {
      "main": [
        [
          {
            "node": "Loop Over Items (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items (Schedule)": {
      "main": [
        [],
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Type Switch (Schedule)": {
      "main": [
        [
          {
            "node": "Extract PDF (Schedule)",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Extract Text/Office (Schedule)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Text Only (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF (Schedule)": {
      "main": [
        [
          {
            "node": "AI Classify (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text/Office (Schedule)": {
      "main": [
        [
          {
            "node": "AI Classify (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Classify (Schedule)": {
      "main": [
        [
          {
            "node": "Parse & Validate (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate (Schedule)": {
      "main": [
        [
          {
            "node": "Confidence Check (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confidence Check (Schedule)": {
      "main": [
        [
          {
            "node": "Move to REVIEW (Schedule)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Document Routing (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to REVIEW (Schedule)": {
      "main": [
        [
          {
            "node": "Log Review to Sheets (Schedule)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Routing (Schedule)": {
      "main": [
        [
          {
            "node": "Move Hóa Đơn (S)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move Hợp Đồng (S)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move CV (S)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move Biên Nhận (S)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move Báo Cáo (S)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move Khác (S)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Hóa Đơn (S)": {
      "main": [
        [
          {
            "node": "Log to Sheets (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Hợp Đồng (S)": {
      "main": [
        [
          {
            "node": "Log to Sheets (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move CV (S)": {
      "main": [
        [
          {
            "node": "Log to Sheets (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Biên Nhận (S)": {
      "main": [
        [
          {
            "node": "Log to Sheets (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Báo Cáo (S)": {
      "main": [
        [
          {
            "node": "Log to Sheets (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Khác (S)": {
      "main": [
        [
          {
            "node": "Log to Sheets (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text Only (Schedule)": {
      "main": [
        [
          {
            "node": "AI Classify (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "File Type Switch (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Classify (Schedule)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Log to Sheets (Schedule)": {
      "main": [
        [
          {
            "node": "Loop Over Items (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "146206d6-09fa-4d2f-a688-46713c43cc9b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "065bbb3f1d7b481f244680466bdb87f5c417b78ed48218a7cd31c8d0331ca59a"
  },
  "id": "NJaT9CyrkHLijgjT",
  "tags": []
}