n8n-workflows/IDRAS - Intelligent Document Router.json
{
  "name": "IDRAS - Intelligent Document Router",
  "nodes": [
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1gdjrSS0bSGu8-yVy98W8JVXGJvdLWPwR",
            "mode": "list",
            "cachedResultName": "INBOX",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1gdjrSS0bSGu8-yVy98W8JVXGJvdLWPwR"
          }
        },
        "options": {}
      },
      "id": "30f17ec7-2b69-4755-8dc5-f9480c93468b",
      "name": "Search files (INBOX)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        512,
        2208
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qdtFu98D7Q4V7sbw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "3d1d8fa2-6599-4f4c-a078-c876ca1ebb0c",
      "name": "Extract from PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1152,
        2208
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "Bạn là chuyên gia phân loại tài liệu tiếng Việt.\n\nPhân loại chính xác tài liệu sau vào đúng 1 category:\n- Hóa đơn\n- Hợp đồng\n- CV / Resume\n- Biên nhận / Receipt\n- Báo cáo tài chính\n- Khác\n\nTrả về đúng định dạng JSON:\n{\"category\": \"Hóa đơn\", \"confidence\": 0.92, \"reason\": \"lý do ngắn gọn\"}\n\nChỉ trả về JSON, không thêm bất kỳ chữ nào khác.\n\nLƯU Ý QUAN TRỌNG: TUYỆT ĐỐI KHÔNG sử dụng định dạng markdown. KHÔNG ĐƯỢC chèn ```json hay ```. Chỉ trả về duy nhất văn bản thô bắt đầu bằng dấu { và kết thúc bằng dấu }."
        }
      },
      "id": "d0e37a38-dd48-4fa9-9816-420aea783dd9",
      "name": "Phân loại AI",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1376,
        2208
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1376,
        2432
      ],
      "id": "f2947f9b-3023-4a02-b399-421ed8319400",
      "name": "Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "waLNfHC47KDCAiVv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "category",
              "value": "={{ JSON.parse($json.text).category }}"
            },
            {
              "name": "confidence",
              "value": "={{ JSON.parse($json.text).confidence }}"
            },
            {
              "name": "reason",
              "value": "={{ JSON.parse($json.text).reason }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Category Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1664,
        2208
      ],
      "id": "277a633f-b617-4682-8405-9f759562190e"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Hóa đơn",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Hóa đơn"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Hợp đồng",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Hợp đồng"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "CV / Resume",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CV / Resume"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Biên nhận / Receipt",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Biên nhận"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Báo cáo tài chính",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Báo cáo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Khác",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Khác"
            }
          ]
        },
        "options": {}
      },
      "name": "Switch Routing",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1824,
        2208
      ],
      "id": "43a493e3-56e2-4745-b53d-9bbc2793c54f"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Download File').item.json.id }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/1/folders/1eVepqu2WOY30GTGNBAxyjbnhGvL4uPma",
          "mode": "url"
        }
      },
      "id": "fdf3d97b-f161-44e4-8342-284bfa5a8d83",
      "name": "Move Hóa Đơn",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2112,
        1904
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qdtFu98D7Q4V7sbw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Download File').item.json.id }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/1/folders/1Ni90EXtfUSia6qeesCJIaLzJ_PzTfMx0",
          "mode": "url"
        }
      },
      "id": "966dc057-93d6-4b8f-982b-1ea2cbba4163",
      "name": "Move Hợp Đồng",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2112,
        2064
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qdtFu98D7Q4V7sbw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Download File').item.json.id }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "url",
          "value": "https://drive.google.com/drive/u/1/folders/13DFWV7RfkFyOKQfSLPC96ZJrR6Fj-mBF",
          "__regex": "https:\\/\\/drive\\.google\\.com(?:\\/.*|)\\/folders\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        }
      },
      "id": "59d376b0-af3c-4bce-a746-a1b1a938b872",
      "name": "Move CV",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2112,
        2208
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qdtFu98D7Q4V7sbw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Download File').item.json.id }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/1/folders/18-Aa31g2nvgwwX7misq0il1T3kddWIlC",
          "mode": "url"
        }
      },
      "id": "0c0fa337-5380-40b5-ba6a-c63f55249167",
      "name": "Move Biên Nhận",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2112,
        2352
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qdtFu98D7Q4V7sbw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Download File').item.json.id }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1A16LRYa1RNPBzVsnzUVLFESUFz02FAan",
          "mode": "id"
        }
      },
      "id": "de9880eb-cd83-4b2d-abfe-b08a267aebfb",
      "name": "Move Báo Cáo",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2112,
        2512
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qdtFu98D7Q4V7sbw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Download File').item.json.id }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1KwhIgNOkhW1iDeiJlk1LQ30hNGNbxHHX",
          "mode": "id"
        }
      },
      "id": "804dd6fe-df1d-40fa-baba-834d15b5faaa",
      "name": "Move Khác",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2112,
        2656
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qdtFu98D7Q4V7sbw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18PsQ6PxVH--6rFuDeNaZoJy2u_EUjme1pMBbSa6m1jo/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tên File": "={{ $('Search files (INBOX)').item.json.name }}",
            "Phân Loại": "={{ JSON.parse($('Set Category Data').item.json.output.replace(/```json/g, '').replace(/```/g, '')).category }}",
            "Độ Tự Tin": "={{ JSON.parse($('Set Category Data').item.json.output.replace(/```json/g, '').replace(/```/g, '')).confidence}}",
            "Lý Do": "={{ JSON.parse($('Set Category Data').item.json.output.replace(/```json/g, '').replace(/```/g, '')).reason }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Tên File",
              "displayName": "Tên File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phân Loại",
              "displayName": "Phân Loại",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Độ Tự Tin",
              "displayName": "Độ Tự Tin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lý Do",
              "displayName": "Lý Do",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "88ab58bd-5d6d-4179-876b-99d448f62844",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2416,
        2208
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o4inNckQgSGRD67U",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b29e6cad-1c9f-4689-b041-6b0fd4a87284",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        704,
        2208
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {}
      },
      "id": "a182da8f-2139-4f6a-9500-795ea01b5bec",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        928,
        2208
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qdtFu98D7Q4V7sbw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        272,
        2208
      ],
      "id": "0f68b2dd-2664-4988-84b3-f13c52a0fb31",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Switch Routing": {
      "main": [
        [
          {
            "node": "Move Hóa Đơn",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move Hợp Đồng",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move CV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move Biên Nhận",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move Báo Cáo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move Khác",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Hóa Đơn": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Hợp Đồng": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move CV": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Biên Nhận": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Báo Cáo": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Khác": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phân loại AI": {
      "main": [
        [
          {
            "node": "Set Category Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Category Data": {
      "main": [
        [
          {
            "node": "Switch Routing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from PDF": {
      "main": [
        [
          {
            "node": "Phân loại AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files (INBOX)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Phân loại AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search files (INBOX)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "fa95823b-8c54-4706-89ad-fbe4406c1066",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a6dbf65be03846fe05bd317417e2cdd08881946319b37f68fdbf32cede1159a9"
  },
  "id": "ZLRrs39cQMSRD4g9",
  "tags": []
}