n8n-workflows/IDRAS - Intelligent Document Router.json
{
  "name": "IDRAS - Intelligent Document Router",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -640,
        80
      ],
      "id": "9b9927e4-6102-4d31-ab0c-4ef548f43c2e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1gdjrSS0bSGu8-yVy98W8JVXGJvdLWPwR",
            "mode": "list",
            "cachedResultName": "INBOX",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1gdjrSS0bSGu8-yVy98W8JVXGJvdLWPwR"
          }
        },
        "options": {}
      },
      "id": "a571c9bd-06b5-4dcf-ad04-531221b2ea4e",
      "name": "Search INBOX (Schedule)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -400,
        80
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lXTxS08qfvUwwAnf",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "befc0a8e-4be8-4621-ad9e-e4100cf5049f",
      "name": "Loop Over Items (Schedule)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -160,
        80
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "ft-pdf"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "ft-image"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "officedocument",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "ft-office"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Office"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "ft-text"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        320,
        80
      ],
      "id": "e5b18bf8-8991-4bc4-88fa-c9f6c09779be",
      "name": "File Type Switch (Schedule)"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "1982734c-0b1f-461c-ac30-feea62c7d42f",
      "name": "Extract PDF (Schedule)",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        560,
        -128
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract text từ DOCX bằng cách đọc XML bên trong (DOCX = ZIP file)\n// Không cần thư viện ngoài - chỉ dùng built-in Buffer\n\nconst item = $input.first();\nconst binaryKey = item.binary ? Object.keys(item.binary)[0] : 'data';\nconst binaryData = item.binary?.[binaryKey];\n\nif (!binaryData) {\n  return [{ json: { ...item.json, text: 'Không có binary data' } }];\n}\n\ntry {\n  // Convert base64 → string, tìm text trong XML của docx\n  const base64 = binaryData.data;\n  const raw = Buffer.from(base64, 'base64').toString('binary');\n  \n  // DOCX là ZIP, tìm phần word/document.xml và extract text giữa các tag XML\n  // Tìm đoạn text giữa <w:t> tags\n  const matches = raw.match(/<w:t[^>]*>([^<]+)<\\/w:t>/g) || [];\n  const text = matches\n    .map(m => m.replace(/<w:t[^>]*>/g, '').replace(/<\\/w:t>/g, ''))\n    .join(' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n  \n  return [{\n    json: {\n      ...item.json,\n      text: text.slice(0, 5000) || ('Tên file: ' + (item.json.name || ''))\n    },\n    binary: item.binary\n  }];\n} catch(err) {\n  return [{\n    json: {\n      ...item.json,\n      text: 'Tên file: ' + (item.json.name || '')\n    },\n    binary: item.binary\n  }];\n}"
      },
      "id": "ac172e2c-6b17-401b-a560-169f3d9d5c0c",
      "name": "Extract Text/Office (Schedule)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        144
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.ParsedResults?.[0]?.ParsedText ? \"Dưới đây là nội dung văn bản trích xuất từ ảnh, hãy phân loại nó: \" + $json.ParsedResults[0].ParsedText : ($json.text ? $json.text : \"Đây là file: \" + ($json.imageFileName || $json.fileName || \"Tài liệu\") + \". Không có văn bản OCR, hãy đoán loại dựa trên tên file này.\") }}",
        "options": {
          "systemMessage": "Bạn là chuyên gia phân loại tài liệu tiếng Việt.\n\nPhân loại chính xác tài liệu vào đúng 1 trong các category sau:\n- Hóa đơn\n- Hợp đồng\n- CV / Resume\n- Biên nhận / Receipt\n- Báo cáo tài chính\n- Khác\n\nTrả về đúng định dạng JSON:\n{\"category\": \"Hóa đơn\", \"confidence\": 0.92, \"reason\": \"lý do ngắn gọn\"}\n\nQuy tắc bắt buộc:\n- CHỈ trả về JSON thuần túy\n- KHÔNG dùng markdown, KHÔNG dùng ```json hay ```\n- Bắt đầu bằng { và kết thúc bằng }\n- confidence là số thực từ 0.0 đến 1.0"
        }
      },
      "id": "b13a263d-dfe6-4918-a485-79e03e8d9d23",
      "name": "AI Classify (Schedule)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        816,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "// 1. Lấy output từ AI\nconst aiRawOutput = $input.first().json.output || '';\n\n// 2. Parse JSON AI\nlet parsedAI;\ntry {\n  const clean = aiRawOutput.replace(/```json|```/g, '').trim();\n  parsedAI = JSON.parse(clean);\n} catch (e) {\n  parsedAI = { category: 'Khác', confidence: 0.3, reason: 'Lỗi parse' };\n}\n\n// 3. Lấy thông tin FILE từ node \"Download File\"\nlet fileId = '';\nlet fileName = '';\nlet miniType = ''; \n\ntry {\n  // Tìm node Download File\n  const downloadNode = $('Download File').first();\n  \n  if (downloadNode) {\n    fileId = downloadNode.json.id || '';\n    fileName = downloadNode.json.name || '';\n    \n    // CỐ GẮNG LẤY mimeType TỪ NHIỀU NGUỒN KHÁC NHAU\n    // n8n Google Drive node thường để ở json.mimeType hoặc trong binary\n    miniType = downloadNode.json.mimeType || \n               (downloadNode.binary && downloadNode.binary.data ? downloadNode.binary.data.mimeType : '');\n               \n    // Nếu vẫn trống, thử đoán dựa trên đuôi file (Dành cho docx, pdf, xlsx)\n    if (!miniType && fileName.includes('.')) {\n      const ext = fileName.split('.').pop().toLowerCase();\n      const mimeMap = {\n        'docx': 'application/vnd.openxmlformats-officedocument.wordprocessingml.document',\n        'pdf': 'application/pdf',\n        'xlsx': 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',\n        'jpg': 'image/jpeg',\n        'png': 'image/png'\n      };\n      miniType = mimeMap[ext] || 'unknown/' + ext;\n    }\n  }\n} catch (err) {\n  fileId = 'N/A';\n}\n\n// 4. Trả về kết quả\nreturn [{\n  json: {\n    category: parsedAI.category || 'Khác',\n    confidence: parsedAI.confidence || 0,\n    reason: parsedAI.reason || '',\n    fileId: fileId,\n    fileName: fileName,\n    miniType: miniType || 'application/octet-stream', // Nếu không tìm thấy thì để mặc định\n    processedAt: new Date().toLocaleString('vi-VN'),\n    source: 'n8n_system'\n  }\n}];"
      },
      "id": "63585254-a31a-4424-a18b-6ea3d8ce4216",
      "name": "Parse & Validate (Schedule)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        80
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "conf-low-s",
                    "leftValue": "={{ $json.confidence }}",
                    "rightValue": 0.6,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Low Confidence"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "conf-high-s",
                    "leftValue": "={{ $json.confidence }}",
                    "rightValue": 0.6,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "High Confidence"
            }
          ]
        },
        "options": {}
      },
      "id": "40463a6e-87f8-42fd-8eda-e0f0f89592de",
      "name": "Confidence Check (Schedule)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1296,
        80
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/1/folders/1cz3Tl7gmU0C_CPuj_YclHrE1OQlpVhu0",
          "mode": "url"
        }
      },
      "id": "1879f002-b96c-4702-888a-a6efd3b14522",
      "name": "Move to REVIEW (Schedule)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1520,
        -128
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lXTxS08qfvUwwAnf",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r1",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Hóa đơn",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Hóa đơn"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r2",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Hợp đồng",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Hợp đồng"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r3",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "CV / Resume",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CV / Resume"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r4",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Biên nhận / Receipt",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Biên nhận"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r5",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Báo cáo tài chính",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Báo cáo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r6",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Khác",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Khác"
            }
          ]
        },
        "options": {}
      },
      "id": "7735e19a-58bd-418d-ba38-1751e656746a",
      "name": "Document Routing (Schedule)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1520,
        176
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/1/folders/1eVepqu2WOY30GTGNBAxyjbnhGvL4uPma",
          "mode": "url"
        }
      },
      "id": "677b0d67-de73-40e9-9d5f-de5b765335d3",
      "name": "Move Hóa Đơn (S)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1808,
        -32
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lXTxS08qfvUwwAnf",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/1/folders/1Ni90EXtfUSia6qeesCJIaLzJ_PzTfMx0",
          "mode": "url"
        }
      },
      "id": "30378a15-b739-4557-820c-b7962e0e10fb",
      "name": "Move Hợp Đồng (S)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1808,
        96
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lXTxS08qfvUwwAnf",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/1/folders/13DFWV7RfkFyOKQfSLPC96ZJrR6Fj-mBF",
          "mode": "url"
        }
      },
      "id": "a3509ce8-8648-4a57-b92c-af9745ed9fd1",
      "name": "Move CV (S)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1808,
        224
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lXTxS08qfvUwwAnf",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/1/folders/18-Aa31g2nvgwwX7misq0il1T3kddWIlC",
          "mode": "url"
        }
      },
      "id": "484848c2-3504-452c-bf10-847dd035f742",
      "name": "Move Biên Nhận (S)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1808,
        368
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lXTxS08qfvUwwAnf",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "1A16LRYa1RNPBzVsnzUVLFESUFz02FAan"
        }
      },
      "id": "bb809a73-71a5-40c9-9d64-0ce71fcbc535",
      "name": "Move Báo Cáo (S)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1808,
        512
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lXTxS08qfvUwwAnf",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1KwhIgNOkhW1iDeiJlk1LQ30hNGNbxHHX",
          "mode": "id"
        }
      },
      "id": "805b3665-03ca-4b08-bcfe-9ad224ecb29d",
      "name": "Move Khác (S)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1808,
        640
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lXTxS08qfvUwwAnf",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18PsQ6PxVH--6rFuDeNaZoJy2u_EUjme1pMBbSa6m1jo",
          "mode": "list",
          "cachedResultName": "IDRAS - Báo cáo tự động",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18PsQ6PxVH--6rFuDeNaZoJy2u_EUjme1pMBbSa6m1jo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18PsQ6PxVH--6rFuDeNaZoJy2u_EUjme1pMBbSa6m1jo/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $node[\"Parse & Validate (Schedule)\"].json.fileId }}",
            "Tên File": "={{ $node[\"Parse & Validate (Schedule)\"].json.fileName }}",
            "Loại File": "={{ $json.mimeType }}",
            "Phân Loại": "={{ $node[\"Parse & Validate (Schedule)\"].json.category }}",
            "Độ Tự Tin": "={{ $node[\"Parse & Validate (Schedule)\"].json.confidence }}",
            "Lý Do": "={{ $node[\"Parse & Validate (Schedule)\"].json.reason }}",
            "Thời Gian": "={{ $node[\"Parse & Validate (Schedule)\"].json.processedAt }}",
            "Nguồn": "={{ $node[\"Parse & Validate (Schedule)\"].json.source }}",
            "Trạng Thái": "Thành công"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tên File",
              "displayName": "Tên File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Loại File",
              "displayName": "Loại File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Phân Loại",
              "displayName": "Phân Loại",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Độ Tự Tin",
              "displayName": "Độ Tự Tin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Lý Do",
              "displayName": "Lý Do",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Thời Gian",
              "displayName": "Thời Gian",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Nguồn",
              "displayName": "Nguồn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Trạng Thái",
              "displayName": "Trạng Thái",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "308a481b-6d0f-4683-a1c5-1a55117c920f",
      "name": "Log to Sheets (Schedule)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2160,
        192
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FX0VPrfHHng5vspe",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18PsQ6PxVH--6rFuDeNaZoJy2u_EUjme1pMBbSa6m1jo",
          "mode": "list",
          "cachedResultName": "IDRAS - Báo cáo tự động",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18PsQ6PxVH--6rFuDeNaZoJy2u_EUjme1pMBbSa6m1jo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18PsQ6PxVH--6rFuDeNaZoJy2u_EUjme1pMBbSa6m1jo/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $node[\"Parse & Validate (Schedule)\"].json.fileId }}",
            "Tên File": "={{ $node[\"Parse & Validate (Schedule)\"].json.fileName }}",
            "Loại File": "={{ $node[\"Parse & Validate (Schedule)\"].json.miniType }}",
            "Phân Loại": "={{ $node[\"Parse & Validate (Schedule)\"].json.category }}",
            "Độ Tự Tin": "={{ $node[\"Parse & Validate (Schedule)\"].json.confidence }}",
            "Lý Do": "={{ $node[\"Parse & Validate (Schedule)\"].json.reason }}",
            "Thời Gian": "={{ $node[\"Parse & Validate (Schedule)\"].json.processedAt }}",
            "Nguồn": "={{ $node[\"Parse & Validate (Schedule)\"].json.source }}",
            "Trạng Thái": "Can Review"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tên File",
              "displayName": "Tên File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Loại File",
              "displayName": "Loại File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phân Loại",
              "displayName": "Phân Loại",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Độ Tự Tin",
              "displayName": "Độ Tự Tin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lý Do",
              "displayName": "Lý Do",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thời Gian",
              "displayName": "Thời Gian",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nguồn",
              "displayName": "Nguồn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng Thái",
              "displayName": "Trạng Thái",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "005415cf-4a33-42a3-b6b5-616b2ff85886",
      "name": "Log Review to Sheets (Schedule)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1968,
        -128
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FX0VPrfHHng5vspe",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "f2376089-d3d4-4b6b-bba4-29e77446bcdf",
      "name": "Extract Text Only (Schedule)",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        560,
        304
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {}
      },
      "id": "054ffa91-c465-4fac-a669-a94a0dea8f2b",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        96,
        80
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lXTxS08qfvUwwAnf",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        816,
        288
      ],
      "id": "85a3c618-dfc8-48df-8e7f-b74f7002f557",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "Iszx81t4sImDYXWU",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst binaryData = item.binary.data;\n\nreturn [{\n  json: {\n    fileName: item.json.name || \"document.png\",\n    imageBase64: binaryData.data,\n    mimeType: binaryData.mimeType\n  }\n}];"
      },
      "id": "8c3d4ba8-f197-43f9-806c-a08c9d54183e",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        560,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ocr.space/parse/image",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "K87626302188957"
            },
            {
              "name": "base64Image",
              "value": "=data:{{$json.mimeType}};base64,{{$json.imageBase64}}"
            },
            {
              "name": "language",
              "value": "vie"
            }
          ]
        },
        "options": {}
      },
      "id": "618c8960-9fea-47dc-82e0-bc470a8d9229",
      "name": "OCR Space",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        768,
        -112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Bạn là chuyên gia phân loại tài liệu IDRAS. Hãy trả về 1 từ duy nhất trong các nhóm: [Hóa đơn, Hợp đồng, CV, Khác].\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Phân loại văn bản này: {{ $json.ParsedResults[0].ParsedText }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "cc1778e8-197a-4a39-864e-bcf8fb66ed38",
      "name": "Groq Classify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        992,
        -112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "fPoBwIS2Iz8LWP9T",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "ydd.23ite@vku.udn.vn",
        "subject": "=⚠️ [IDRAS] Tài liệu cần xem xét thủ công: {{ $node[\"Parse & Validate (Schedule)\"].json.fileName }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; border: 1px solid #e0e0e0; border-radius: 8px; overflow: hidden;\">\n  <div style=\"background: #f57c00; padding: 20px 24px;\">\n    <h2 style=\"color: white; margin: 0;\">⚠️ IDRAS – Tài liệu cần xem xét thủ công</h2>\n  </div>\n  <div style=\"padding: 24px;\">\n    <table style=\"width: 100%; border-collapse: collapse;\">\n      <tr style=\"border-bottom: 1px solid #f0f0f0;\">\n        <td style=\"padding: 10px 0; color: #666; width: 160px;\">📄 Tên file</td>\n        <td style=\"padding: 10px 0; font-weight: bold;\">{{ $node[\"Parse & Validate (Schedule)\"].json.fileName }}</td>\n      </tr>\n      <tr style=\"border-bottom: 1px solid #f0f0f0;\">\n        <td style=\"padding: 10px 0; color: #666;\">🏷️ Phân loại đề xuất</td>\n        <td style=\"padding: 10px 0; font-weight: bold;\">{{ $node[\"Parse & Validate (Schedule)\"].json.category }}</td>\n      </tr>\n      <tr style=\"border-bottom: 1px solid #f0f0f0;\">\n        <td style=\"padding: 10px 0; color: #666;\">📊 Độ tự tin</td>\n        <td style=\"padding: 10px 0;\"><span style=\"background: #fff3e0; color: #e65100; padding: 2px 10px; border-radius: 12px; font-weight: bold;\">{{ ($node[\"Parse & Validate (Schedule)\"].json.confidence * 100).toFixed(0) }}% – Thấp</span></td>\n      </tr>\n      <tr style=\"border-bottom: 1px solid #f0f0f0;\">\n        <td style=\"padding: 10px 0; color: #666;\">💬 Lý do</td>\n        <td style=\"padding: 10px 0;\">{{ $node[\"Parse & Validate (Schedule)\"].json.reason }}</td>\n      </tr>\n      <tr style=\"border-bottom: 1px solid #f0f0f0;\">\n        <td style=\"padding: 10px 0; color: #666;\">🕐 Thời gian xử lý</td>\n        <td style=\"padding: 10px 0;\">{{ $node[\"Parse & Validate (Schedule)\"].json.processedAt }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px 0; color: #666;\">📡 Nguồn</td>\n        <td style=\"padding: 10px 0;\">{{ $node[\"Parse & Validate (Schedule)\"].json.source }}</td>\n      </tr>\n    </table>\n    <div style=\"margin-top: 20px; padding: 14px; background: #fff8e1; border-left: 4px solid #f57c00; border-radius: 4px;\">\n      👉 File đã được chuyển tự động vào thư mục <strong>REVIEW</strong> trên Google Drive. Vui lòng kiểm tra và phân loại lại thủ công.\n    </div>\n  </div>\n  <div style=\"background: #f5f5f5; padding: 12px 24px; text-align: center; color: #999; font-size: 12px;\">\n    IDRAS – Intelligent Document Routing Automation System\n  </div>\n</div>",
        "options": {}
      },
      "id": "430768fa-8fe4-437f-af8c-2d1971b9c13f",
      "name": "Notify Gmail (Schedule)2",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2208,
        -128
      ],
      "webhookId": "c7e68fc1-9d35-4133-a001-bc0aa5ae2397",
      "credentials": {
        "gmailOAuth2": {
          "id": "XALBSvKIdEyysvlT",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "confidence": "={{ $node[\"Parse & Validate (Schedule)\"].json.confidence }}",
            "file_name": "={{ $node[\"Parse & Validate (Schedule)\"].json.fileName }}",
            "file_type": "={{ $node[\"Parse & Validate (Schedule)\"].json.miniType }}",
            "category": "={{ $node[\"Parse & Validate (Schedule)\"].json.category }}",
            "reason": "={{ $node[\"Parse & Validate (Schedule)\"].json.reason }}",
            "source": "={{ $node[\"Parse & Validate (Schedule)\"].json.source }}",
            "status": "success",
            "google_drive_id": "={{ $node[\"Parse & Validate (Schedule)\"].json.fileId }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "file_name",
              "displayName": "file_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "file_type",
              "displayName": "file_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "google_drive_id",
              "displayName": "google_drive_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2448,
        192
      ],
      "id": "a28ae3f3-eb1c-4123-b531-592485bd028e",
      "name": "insert database",
      "credentials": {
        "postgres": {
          "id": "WuxL7Qr8PWbVWVQ1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "confidence": "={{ $node[\"Parse & Validate (Schedule)\"].json.confidence }}",
            "file_name": "={{ $node[\"Parse & Validate (Schedule)\"].json.fileName }}",
            "file_type": "={{ $node[\"Parse & Validate (Schedule)\"].json.miniType }}",
            "category": "={{ $node[\"Parse & Validate (Schedule)\"].json.category }}",
            "reason": "={{ $node[\"Parse & Validate (Schedule)\"].json.reason }}",
            "source": "={{ $node[\"Parse & Validate (Schedule)\"].json.source }}",
            "google_drive_id": "={{ $node[\"Parse & Validate (Schedule)\"].json.fileId }}",
            "status": "Can Review"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "file_name",
              "displayName": "file_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "file_type",
              "displayName": "file_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "google_drive_id",
              "displayName": "google_drive_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2528,
        -128
      ],
      "id": "8c9bb332-cf8a-4bce-8c5c-e980cdb8f23a",
      "name": "Insert database",
      "credentials": {
        "postgres": {
          "id": "WuxL7Qr8PWbVWVQ1",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search INBOX (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search INBOX (Schedule)": {
      "main": [
        [
          {
            "node": "Loop Over Items (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items (Schedule)": {
      "main": [
        [],
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Type Switch (Schedule)": {
      "main": [
        [
          {
            "node": "Extract PDF (Schedule)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Text/Office (Schedule)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Text Only (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF (Schedule)": {
      "main": [
        [
          {
            "node": "AI Classify (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text/Office (Schedule)": {
      "main": [
        [
          {
            "node": "AI Classify (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Classify (Schedule)": {
      "main": [
        [
          {
            "node": "Parse & Validate (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate (Schedule)": {
      "main": [
        [
          {
            "node": "Confidence Check (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confidence Check (Schedule)": {
      "main": [
        [
          {
            "node": "Move to REVIEW (Schedule)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Document Routing (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to REVIEW (Schedule)": {
      "main": [
        [
          {
            "node": "Log Review to Sheets (Schedule)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Gmail (Schedule)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Routing (Schedule)": {
      "main": [
        [
          {
            "node": "Move Hóa Đơn (S)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move Hợp Đồng (S)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move CV (S)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move Biên Nhận (S)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move Báo Cáo (S)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move Khác (S)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Hóa Đơn (S)": {
      "main": [
        [
          {
            "node": "Log to Sheets (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Hợp Đồng (S)": {
      "main": [
        [
          {
            "node": "Log to Sheets (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move CV (S)": {
      "main": [
        [
          {
            "node": "Log to Sheets (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Biên Nhận (S)": {
      "main": [
        [
          {
            "node": "Log to Sheets (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Báo Cáo (S)": {
      "main": [
        [
          {
            "node": "Log to Sheets (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Khác (S)": {
      "main": [
        [
          {
            "node": "Log to Sheets (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text Only (Schedule)": {
      "main": [
        [
          {
            "node": "AI Classify (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "File Type Switch (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Classify (Schedule)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Log to Sheets (Schedule)": {
      "main": [
        [
          {
            "node": "insert database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "OCR Space",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Space": {
      "main": [
        [
          {
            "node": "Groq Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Classify": {
      "main": [
        [
          {
            "node": "AI Classify (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Gmail (Schedule)2": {
      "main": [
        [
          {
            "node": "Loop Over Items (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Review to Sheets (Schedule)": {
      "main": [
        [
          {
            "node": "Insert database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert database": {
      "main": [
        [
          {
            "node": "Loop Over Items (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert database": {
      "main": [
        [
          {
            "node": "Loop Over Items (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "140491e5-4059-40e9-99ea-a56f57f37297",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9a1b3784355e117d80a6da67d53560736544074713ac83c1c58bcf6d64f2d2d7"
  },
  "id": "XeLLUo11htVCjEo2",
  "tags": []
}