n8n-workflows/My workflow 3 (1).json
{
  "name": "IDRAS - Intelligent Document Router",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -4224,
        2000
      ],
      "id": "441560f2-4e50-4f74-bbd0-be24f4009902",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1gdjrSS0bSGu8-yVy98W8JVXGJvdLWPwR",
            "mode": "list",
            "cachedResultName": "INBOX",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1gdjrSS0bSGu8-yVy98W8JVXGJvdLWPwR"
          }
        },
        "options": {}
      },
      "id": "f4ab4061-4029-4f5b-ba80-c77bbb8da983",
      "name": "Search INBOX (Schedule)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3984,
        2000
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qdtFu98D7Q4V7sbw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6143d7aa-b606-4d85-bb3c-42668ded9378",
      "name": "Loop Over Items (Schedule)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -3744,
        2000
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "ft-pdf"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "ft-image"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "officedocument",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "ft-office"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Office"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "ft-text"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -3264,
        2000
      ],
      "id": "39b28129-2625-4f3f-82a4-eede3325c833",
      "name": "File Type Switch (Schedule)"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "5e745fe6-743b-41d3-b964-f4727d11481b",
      "name": "Extract PDF (Schedule)",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -3024,
        1792
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract text từ DOCX bằng cách đọc XML bên trong (DOCX = ZIP file)\n// Không cần thư viện ngoài - chỉ dùng built-in Buffer\n\nconst item = $input.first();\nconst binaryKey = item.binary ? Object.keys(item.binary)[0] : 'data';\nconst binaryData = item.binary?.[binaryKey];\n\nif (!binaryData) {\n  return [{ json: { ...item.json, text: 'Không có binary data' } }];\n}\n\ntry {\n  // Convert base64 → string, tìm text trong XML của docx\n  const base64 = binaryData.data;\n  const raw = Buffer.from(base64, 'base64').toString('binary');\n  \n  // DOCX là ZIP, tìm phần word/document.xml và extract text giữa các tag XML\n  // Tìm đoạn text giữa <w:t> tags\n  const matches = raw.match(/<w:t[^>]*>([^<]+)<\\/w:t>/g) || [];\n  const text = matches\n    .map(m => m.replace(/<w:t[^>]*>/g, '').replace(/<\\/w:t>/g, ''))\n    .join(' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n  \n  return [{\n    json: {\n      ...item.json,\n      text: text.slice(0, 5000) || ('Tên file: ' + (item.json.name || ''))\n    },\n    binary: item.binary\n  }];\n} catch(err) {\n  return [{\n    json: {\n      ...item.json,\n      text: 'Tên file: ' + (item.json.name || '')\n    },\n    binary: item.binary\n  }];\n}"
      },
      "id": "bc6da703-8c8e-41d5-964e-a27d3a7e5dfa",
      "name": "Extract Text/Office (Schedule)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3024,
        2064
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.ParsedResults?.[0]?.ParsedText ? \"Dưới đây là nội dung văn bản trích xuất từ ảnh, hãy phân loại nó: \" + $json.ParsedResults[0].ParsedText : ($json.text ? $json.text : \"Đây là file: \" + ($json.imageFileName || $json.fileName || \"Tài liệu\") + \". Không có văn bản OCR, hãy đoán loại dựa trên tên file này.\") }}",
        "options": {
          "systemMessage": "Bạn là chuyên gia phân loại tài liệu tiếng Việt.\n\nPhân loại chính xác tài liệu vào đúng 1 trong các category sau:\n- Hóa đơn\n- Hợp đồng\n- CV / Resume\n- Biên nhận / Receipt\n- Báo cáo tài chính\n- Khác\n\nTrả về đúng định dạng JSON:\n{\"category\": \"Hóa đơn\", \"confidence\": 0.92, \"reason\": \"lý do ngắn gọn\"}\n\nQuy tắc bắt buộc:\n- CHỈ trả về JSON thuần túy\n- KHÔNG dùng markdown, KHÔNG dùng ```json hay ```\n- Bắt đầu bằng { và kết thúc bằng }\n- confidence là số thực từ 0.0 đến 1.0"
        }
      },
      "id": "57101023-4197-4d91-b59d-8e76e1f4f634",
      "name": "AI Classify (Schedule)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -2768,
        2000
      ]
    },
    {
      "parameters": {
        "jsCode": "// 1. Lấy output từ AI\nconst aiRawOutput = $input.first().json.output || '';\n\n// 2. Parse JSON AI\nlet parsedAI;\ntry {\n  const clean = aiRawOutput.replace(/```json|```/g, '').trim();\n  parsedAI = JSON.parse(clean);\n} catch (e) {\n  parsedAI = { category: 'Khác', confidence: 0.3, reason: 'Lỗi parse' };\n}\n\n// 3. Lấy thông tin FILE từ node \"Download File\"\nlet fileId = '';\nlet fileName = '';\nlet miniType = ''; \n\ntry {\n  // Tìm node Download File\n  const downloadNode = $('Download File').first();\n  \n  if (downloadNode) {\n    fileId = downloadNode.json.id || '';\n    fileName = downloadNode.json.name || '';\n    \n    // CỐ GẮNG LẤY mimeType TỪ NHIỀU NGUỒN KHÁC NHAU\n    // n8n Google Drive node thường để ở json.mimeType hoặc trong binary\n    miniType = downloadNode.json.mimeType || \n               (downloadNode.binary && downloadNode.binary.data ? downloadNode.binary.data.mimeType : '');\n               \n    // Nếu vẫn trống, thử đoán dựa trên đuôi file (Dành cho docx, pdf, xlsx)\n    if (!miniType && fileName.includes('.')) {\n      const ext = fileName.split('.').pop().toLowerCase();\n      const mimeMap = {\n        'docx': 'application/vnd.openxmlformats-officedocument.wordprocessingml.document',\n        'pdf': 'application/pdf',\n        'xlsx': 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',\n        'jpg': 'image/jpeg',\n        'png': 'image/png'\n      };\n      miniType = mimeMap[ext] || 'unknown/' + ext;\n    }\n  }\n} catch (err) {\n  fileId = 'N/A';\n}\n\n// 4. Trả về kết quả\nreturn [{\n  json: {\n    category: parsedAI.category || 'Khác',\n    confidence: parsedAI.confidence || 0,\n    reason: parsedAI.reason || '',\n    fileId: fileId,\n    fileName: fileName,\n    miniType: miniType || 'application/octet-stream', // Nếu không tìm thấy thì để mặc định\n    processedAt: new Date().toLocaleString('vi-VN'),\n    source: 'n8n_system'\n  }\n}];"
      },
      "id": "9a92caac-ec55-43fa-9df5-b0a7e4ecdc86",
      "name": "Parse & Validate (Schedule)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2480,
        2000
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "conf-low-s",
                    "leftValue": "={{ $json.confidence }}",
                    "rightValue": 0.6,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Low Confidence"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "conf-high-s",
                    "leftValue": "={{ $json.confidence }}",
                    "rightValue": 0.6,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "High Confidence"
            }
          ]
        },
        "options": {}
      },
      "id": "3e0920c8-cabc-4f96-8d66-fa30273217b7",
      "name": "Confidence Check (Schedule)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2288,
        2000
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/1/folders/1cz3Tl7gmU0C_CPuj_YclHrE1OQlpVhu0",
          "mode": "url"
        }
      },
      "id": "b32c2866-45bd-41c3-a71c-6a2034acb713",
      "name": "Move to REVIEW (Schedule)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2064,
        1792
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qdtFu98D7Q4V7sbw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r1",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Hóa đơn",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Hóa đơn"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r2",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Hợp đồng",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Hợp đồng"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r3",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "CV / Resume",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CV / Resume"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r4",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Biên nhận / Receipt",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Biên nhận"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r5",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Báo cáo tài chính",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Báo cáo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r6",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Khác",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Khác"
            }
          ]
        },
        "options": {}
      },
      "id": "d4f9e4a5-95af-4b88-9725-2316e48b9adf",
      "name": "Document Routing (Schedule)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2064,
        2096
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/1/folders/1eVepqu2WOY30GTGNBAxyjbnhGvL4uPma",
          "mode": "url"
        }
      },
      "id": "ddc2da9a-7f37-4442-9a40-c78b812ccbf5",
      "name": "Move Hóa Đơn (S)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1776,
        1888
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qdtFu98D7Q4V7sbw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/1/folders/1Ni90EXtfUSia6qeesCJIaLzJ_PzTfMx0",
          "mode": "url"
        }
      },
      "id": "587ed7dc-314c-4320-8b1c-3060e4ffe251",
      "name": "Move Hợp Đồng (S)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1776,
        2016
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qdtFu98D7Q4V7sbw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/1/folders/13DFWV7RfkFyOKQfSLPC96ZJrR6Fj-mBF",
          "mode": "url"
        }
      },
      "id": "8d23804e-c50a-444d-b9ae-e72aaa849108",
      "name": "Move CV (S)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1776,
        2144
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qdtFu98D7Q4V7sbw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/1/folders/18-Aa31g2nvgwwX7misq0il1T3kddWIlC",
          "mode": "url"
        }
      },
      "id": "2c57bd50-8209-4643-8520-4c8b31e4c66d",
      "name": "Move Biên Nhận (S)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1776,
        2288
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qdtFu98D7Q4V7sbw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "1A16LRYa1RNPBzVsnzUVLFESUFz02FAan"
        }
      },
      "id": "f9b74854-1482-457d-9b88-f7d4b7d4a4e2",
      "name": "Move Báo Cáo (S)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1776,
        2432
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qdtFu98D7Q4V7sbw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1KwhIgNOkhW1iDeiJlk1LQ30hNGNbxHHX",
          "mode": "id"
        }
      },
      "id": "f80b0817-62b7-4f9a-a23e-03955b3904b0",
      "name": "Move Khác (S)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1776,
        2560
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qdtFu98D7Q4V7sbw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18PsQ6PxVH--6rFuDeNaZoJy2u_EUjme1pMBbSa6m1jo",
          "mode": "list",
          "cachedResultName": "IDRAS - Báo cáo tự động",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18PsQ6PxVH--6rFuDeNaZoJy2u_EUjme1pMBbSa6m1jo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18PsQ6PxVH--6rFuDeNaZoJy2u_EUjme1pMBbSa6m1jo/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $node[\"Parse & Validate (Schedule)\"].json.fileId }}",
            "Tên File": "={{ $node[\"Parse & Validate (Schedule)\"].json.fileName }}",
            "Loại File": "={{ $json.mimeType }}",
            "Phân Loại": "={{ $node[\"Parse & Validate (Schedule)\"].json.category }}",
            "Độ Tự Tin": "={{ $node[\"Parse & Validate (Schedule)\"].json.confidence }}",
            "Lý Do": "={{ $node[\"Parse & Validate (Schedule)\"].json.reason }}",
            "Thời Gian": "={{ $node[\"Parse & Validate (Schedule)\"].json.processedAt }}",
            "Nguồn": "={{ $node[\"Parse & Validate (Schedule)\"].json.source }}",
            "Trạng Thái": "Thành công"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tên File",
              "displayName": "Tên File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Loại File",
              "displayName": "Loại File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Phân Loại",
              "displayName": "Phân Loại",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Độ Tự Tin",
              "displayName": "Độ Tự Tin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Lý Do",
              "displayName": "Lý Do",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Thời Gian",
              "displayName": "Thời Gian",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Nguồn",
              "displayName": "Nguồn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Trạng Thái",
              "displayName": "Trạng Thái",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0198faf4-d219-4de0-a04c-0addd2b36561",
      "name": "Log to Sheets (Schedule)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1520,
        2096
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o4inNckQgSGRD67U",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18PsQ6PxVH--6rFuDeNaZoJy2u_EUjme1pMBbSa6m1jo",
          "mode": "list",
          "cachedResultName": "IDRAS - Báo cáo tự động",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18PsQ6PxVH--6rFuDeNaZoJy2u_EUjme1pMBbSa6m1jo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18PsQ6PxVH--6rFuDeNaZoJy2u_EUjme1pMBbSa6m1jo/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $node[\"Parse & Validate (Schedule)\"].json.fileId }}",
            "Tên File": "={{ $node[\"Parse & Validate (Schedule)\"].json.fileName }}",
            "Loại File": "={{ $node[\"Parse & Validate (Schedule)\"].json.miniType }}",
            "Phân Loại": "={{ $node[\"Parse & Validate (Schedule)\"].json.category }}",
            "Độ Tự Tin": "={{ $node[\"Parse & Validate (Schedule)\"].json.confidence }}",
            "Lý Do": "={{ $node[\"Parse & Validate (Schedule)\"].json.reason }}",
            "Thời Gian": "={{ $node[\"Parse & Validate (Schedule)\"].json.processedAt }}",
            "Nguồn": "={{ $node[\"Parse & Validate (Schedule)\"].json.source }}",
            "Trạng Thái": "Can Review"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tên File",
              "displayName": "Tên File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Loại File",
              "displayName": "Loại File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phân Loại",
              "displayName": "Phân Loại",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Độ Tự Tin",
              "displayName": "Độ Tự Tin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lý Do",
              "displayName": "Lý Do",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thời Gian",
              "displayName": "Thời Gian",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nguồn",
              "displayName": "Nguồn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng Thái",
              "displayName": "Trạng Thái",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ac8dd144-68ca-4d1d-9bf0-804f742758b6",
      "name": "Log Review to Sheets (Schedule)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1520,
        1792
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o4inNckQgSGRD67U",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "6285be6a-5323-45ed-93aa-5d431b0b7331",
      "name": "Extract Text Only (Schedule)",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -3024,
        2224
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {}
      },
      "id": "d7a3b71d-a50e-4736-aa0b-88b46f1f3ace",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3488,
        2000
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qdtFu98D7Q4V7sbw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -2768,
        2208
      ],
      "id": "dd64d6f9-1cdb-4347-bb17-23c3b836a0b5",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "7tWv2MLrnd92xoPb",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst binaryData = item.binary.data;\n\nreturn [{\n  json: {\n    fileName: item.json.name || \"document.png\",\n    imageBase64: binaryData.data,\n    mimeType: binaryData.mimeType\n  }\n}];"
      },
      "id": "462adada-7cc1-4466-a194-c5326d2e7f7f",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -3024,
        1920
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ocr.space/parse/image",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "K87626302188957"
            },
            {
              "name": "base64Image",
              "value": "=data:{{$json.mimeType}};base64,{{$json.imageBase64}}"
            },
            {
              "name": "language",
              "value": "vie"
            }
          ]
        },
        "options": {}
      },
      "id": "20a3c983-ade1-4f6c-8547-fae902341a96",
      "name": "OCR Space",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -2816,
        1808
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Bạn là chuyên gia phân loại tài liệu IDRAS. Hãy trả về 1 từ duy nhất trong các nhóm: [Hóa đơn, Hợp đồng, CV, Khác].\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Phân loại văn bản này: {{ $json.ParsedResults[0].ParsedText }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "81cbf0d8-83a9-4bdb-a860-e6f03ba081aa",
      "name": "Groq Classify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -2592,
        1808
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "S24xm5lPogT2opGe",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "phuongnx.23ite@vku.udn.vn",
        "subject": "=⚠️ [IDRAS] Tài liệu cần xem xét thủ công: {{ $node[\"Parse & Validate (Schedule)\"].json.fileName }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; border: 1px solid #e0e0e0; border-radius: 8px; overflow: hidden;\">\n  <div style=\"background: #f57c00; padding: 20px 24px;\">\n    <h2 style=\"color: white; margin: 0;\">⚠️ IDRAS – Tài liệu cần xem xét thủ công</h2>\n  </div>\n  <div style=\"padding: 24px;\">\n    <table style=\"width: 100%; border-collapse: collapse;\">\n      <tr style=\"border-bottom: 1px solid #f0f0f0;\">\n        <td style=\"padding: 10px 0; color: #666; width: 160px;\">📄 Tên file</td>\n        <td style=\"padding: 10px 0; font-weight: bold;\">{{ $node[\"Parse & Validate (Schedule)\"].json.fileName }}</td>\n      </tr>\n      <tr style=\"border-bottom: 1px solid #f0f0f0;\">\n        <td style=\"padding: 10px 0; color: #666;\">🏷️ Phân loại đề xuất</td>\n        <td style=\"padding: 10px 0; font-weight: bold;\">{{ $node[\"Parse & Validate (Schedule)\"].json.category }}</td>\n      </tr>\n      <tr style=\"border-bottom: 1px solid #f0f0f0;\">\n        <td style=\"padding: 10px 0; color: #666;\">📊 Độ tự tin</td>\n        <td style=\"padding: 10px 0;\"><span style=\"background: #fff3e0; color: #e65100; padding: 2px 10px; border-radius: 12px; font-weight: bold;\">{{ ($node[\"Parse & Validate (Schedule)\"].json.confidence * 100).toFixed(0) }}% – Thấp</span></td>\n      </tr>\n      <tr style=\"border-bottom: 1px solid #f0f0f0;\">\n        <td style=\"padding: 10px 0; color: #666;\">💬 Lý do</td>\n        <td style=\"padding: 10px 0;\">{{ $node[\"Parse & Validate (Schedule)\"].json.reason }}</td>\n      </tr>\n      <tr style=\"border-bottom: 1px solid #f0f0f0;\">\n        <td style=\"padding: 10px 0; color: #666;\">🕐 Thời gian xử lý</td>\n        <td style=\"padding: 10px 0;\">{{ $node[\"Parse & Validate (Schedule)\"].json.processedAt }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px 0; color: #666;\">📡 Nguồn</td>\n        <td style=\"padding: 10px 0;\">{{ $node[\"Parse & Validate (Schedule)\"].json.source }}</td>\n      </tr>\n    </table>\n    <div style=\"margin-top: 20px; padding: 14px; background: #fff8e1; border-left: 4px solid #f57c00; border-radius: 4px;\">\n      👉 File đã được chuyển tự động vào thư mục <strong>REVIEW</strong> trên Google Drive. Vui lòng kiểm tra và phân loại lại thủ công.\n    </div>\n  </div>\n  <div style=\"background: #f5f5f5; padding: 12px 24px; text-align: center; color: #999; font-size: 12px;\">\n    IDRAS – Intelligent Document Routing Automation System\n  </div>\n</div>",
        "options": {}
      },
      "id": "9d90c6ef-41fc-4503-87d9-359960d8986f",
      "name": "Notify Gmail (Schedule)2",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1280,
        1792
      ],
      "webhookId": "c7e68fc1-9d35-4133-a001-bc0aa5ae2397",
      "credentials": {
        "gmailOAuth2": {
          "id": "Ja1tKDZHVvAEwFCa",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search INBOX (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search INBOX (Schedule)": {
      "main": [
        [
          {
            "node": "Loop Over Items (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items (Schedule)": {
      "main": [
        [],
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Type Switch (Schedule)": {
      "main": [
        [
          {
            "node": "Extract PDF (Schedule)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Text/Office (Schedule)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Text Only (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF (Schedule)": {
      "main": [
        [
          {
            "node": "AI Classify (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text/Office (Schedule)": {
      "main": [
        [
          {
            "node": "AI Classify (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Classify (Schedule)": {
      "main": [
        [
          {
            "node": "Parse & Validate (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate (Schedule)": {
      "main": [
        [
          {
            "node": "Confidence Check (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confidence Check (Schedule)": {
      "main": [
        [
          {
            "node": "Move to REVIEW (Schedule)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Document Routing (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to REVIEW (Schedule)": {
      "main": [
        [
          {
            "node": "Log Review to Sheets (Schedule)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Gmail (Schedule)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Routing (Schedule)": {
      "main": [
        [
          {
            "node": "Move Hóa Đơn (S)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move Hợp Đồng (S)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move CV (S)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move Biên Nhận (S)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move Báo Cáo (S)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move Khác (S)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Hóa Đơn (S)": {
      "main": [
        [
          {
            "node": "Log to Sheets (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Hợp Đồng (S)": {
      "main": [
        [
          {
            "node": "Log to Sheets (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move CV (S)": {
      "main": [
        [
          {
            "node": "Log to Sheets (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Biên Nhận (S)": {
      "main": [
        [
          {
            "node": "Log to Sheets (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Báo Cáo (S)": {
      "main": [
        [
          {
            "node": "Log to Sheets (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Khác (S)": {
      "main": [
        [
          {
            "node": "Log to Sheets (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text Only (Schedule)": {
      "main": [
        [
          {
            "node": "AI Classify (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "File Type Switch (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Classify (Schedule)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Log to Sheets (Schedule)": {
      "main": [
        [
          {
            "node": "Loop Over Items (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "OCR Space",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Space": {
      "main": [
        [
          {
            "node": "Groq Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Classify": {
      "main": [
        [
          {
            "node": "AI Classify (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Gmail (Schedule)2": {
      "main": [
        [
          {
            "node": "Loop Over Items (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "04e21fe0-a215-4a14-b360-e6366912b215",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a6dbf65be03846fe05bd317417e2cdd08881946319b37f68fdbf32cede1159a9"
  },
  "id": "h3FVFibWq8M11hmT",
  "tags": []
}