n8n-workflows/n8n_update.json
{
  "name": "IDRAS - Intelligent Document Router",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -864,
        112
      ],
      "id": "d8af037a-28a2-48e7-836c-6c10f83cfc77",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1gdjrSS0bSGu8-yVy98W8JVXGJvdLWPwR",
            "mode": "list",
            "cachedResultName": "INBOX",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1gdjrSS0bSGu8-yVy98W8JVXGJvdLWPwR"
          }
        },
        "options": {}
      },
      "id": "b88700a8-e478-404e-8ef0-b5caaa14b732",
      "name": "Search INBOX (Schedule)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -624,
        112
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MHZXjmS5iKflda5i",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "73055c59-dc37-4e71-bae7-22d20a73af33",
      "name": "Loop Over Items (Schedule)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -384,
        112
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "ft-pdf"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "ft-image"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "officedocument",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "ft-office"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Office"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "ft-text"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        96,
        112
      ],
      "id": "0705bf1d-7453-49b8-96b9-c326bc051a6c",
      "name": "File Type Switch (Schedule)"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "b24de52d-6aa9-4fb9-aa84-ae2859f82bac",
      "name": "Extract PDF (Schedule)",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        336,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract text từ DOCX bằng cách đọc XML bên trong (DOCX = ZIP file)\n// Không cần thư viện ngoài - chỉ dùng built-in Buffer\n\nconst item = $input.first();\nconst binaryKey = item.binary ? Object.keys(item.binary)[0] : 'data';\nconst binaryData = item.binary?.[binaryKey];\n\nif (!binaryData) {\n  return [{ json: { ...item.json, text: 'Không có binary data' } }];\n}\n\ntry {\n  // Convert base64 → string, tìm text trong XML của docx\n  const base64 = binaryData.data;\n  const raw = Buffer.from(base64, 'base64').toString('binary');\n  \n  // DOCX là ZIP, tìm phần word/document.xml và extract text giữa các tag XML\n  // Tìm đoạn text giữa <w:t> tags\n  const matches = raw.match(/<w:t[^>]*>([^<]+)<\\/w:t>/g) || [];\n  const text = matches\n    .map(m => m.replace(/<w:t[^>]*>/g, '').replace(/<\\/w:t>/g, ''))\n    .join(' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n  \n  return [{\n    json: {\n      ...item.json,\n      text: text.slice(0, 5000) || ('Tên file: ' + (item.json.name || ''))\n    },\n    binary: item.binary\n  }];\n} catch(err) {\n  return [{\n    json: {\n      ...item.json,\n      text: 'Tên file: ' + (item.json.name || '')\n    },\n    binary: item.binary\n  }];\n}"
      },
      "id": "f902561f-d2f4-4608-b57e-1560a942f133",
      "name": "Extract Text/Office (Schedule)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        176
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.ParsedResults?.[0]?.ParsedText ? \"Dưới đây là nội dung văn bản trích xuất từ ảnh, hãy phân loại nó: \" + $json.ParsedResults[0].ParsedText : ($json.text ? $json.text : \"Đây là file: \" + ($json.imageFileName || $json.fileName || \"Tài liệu\") + \". Không có văn bản OCR, hãy đoán loại dựa trên tên file này.\") }}",
        "options": {
          "systemMessage": "Bạn là chuyên gia phân loại tài liệu tiếng Việt.\n\nPhân loại chính xác tài liệu vào đúng 1 trong các category sau:\n- Hóa đơn\n- Hợp đồng\n- CV / Resume\n- Biên nhận / Receipt\n- Báo cáo tài chính\n- Khác\n\nTrả về đúng định dạng JSON:\n{\"category\": \"Hóa đơn\", \"confidence\": 0.92, \"reason\": \"lý do ngắn gọn\"}\n\nQuy tắc bắt buộc:\n- CHỈ trả về JSON thuần túy\n- KHÔNG dùng markdown, KHÔNG dùng ```json hay ```\n- Bắt đầu bằng { và kết thúc bằng }\n- confidence là số thực từ 0.0 đến 1.0"
        }
      },
      "id": "05d3e3bc-0228-4d9d-b7cd-009c911f316f",
      "name": "AI Classify (Schedule)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        592,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// 1. Lấy output từ AI\nconst aiRawOutput = $input.first().json.output || '';\n\n// 2. Parse JSON AI\nlet parsedAI;\ntry {\n  const clean = aiRawOutput.replace(/```json|```/g, '').trim();\n  parsedAI = JSON.parse(clean);\n} catch (e) {\n  parsedAI = { category: 'Khác', confidence: 0.3, reason: 'Lỗi parse' };\n}\n\n// 3. Lấy thông tin FILE từ node \"Download File\"\nlet fileId = '';\nlet fileName = '';\nlet miniType = ''; \n\ntry {\n  // Tìm node Download File\n  const downloadNode = $('Download File').first();\n  \n  if (downloadNode) {\n    fileId = downloadNode.json.id || '';\n    fileName = downloadNode.json.name || '';\n    \n    // CỐ GẮNG LẤY mimeType TỪ NHIỀU NGUỒN KHÁC NHAU\n    // n8n Google Drive node thường để ở json.mimeType hoặc trong binary\n    miniType = downloadNode.json.mimeType || \n               (downloadNode.binary && downloadNode.binary.data ? downloadNode.binary.data.mimeType : '');\n               \n    // Nếu vẫn trống, thử đoán dựa trên đuôi file (Dành cho docx, pdf, xlsx)\n    if (!miniType && fileName.includes('.')) {\n      const ext = fileName.split('.').pop().toLowerCase();\n      const mimeMap = {\n        'docx': 'application/vnd.openxmlformats-officedocument.wordprocessingml.document',\n        'pdf': 'application/pdf',\n        'xlsx': 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',\n        'jpg': 'image/jpeg',\n        'png': 'image/png'\n      };\n      miniType = mimeMap[ext] || 'unknown/' + ext;\n    }\n  }\n} catch (err) {\n  fileId = 'N/A';\n}\n\n// 4. Trả về kết quả\nreturn [{\n  json: {\n    category: parsedAI.category || 'Khác',\n    confidence: parsedAI.confidence || 0,\n    reason: parsedAI.reason || '',\n    fileId: fileId,\n    fileName: fileName,\n    miniType: miniType || 'application/octet-stream', // Nếu không tìm thấy thì để mặc định\n    processedAt: new Date().toLocaleString('vi-VN'),\n    source: 'n8n_system'\n  }\n}];"
      },
      "id": "9d4873cd-8e21-4345-a935-a28f627682c9",
      "name": "Parse & Validate (Schedule)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        112
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "conf-low-s",
                    "leftValue": "={{ $json.confidence }}",
                    "rightValue": 0.6,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Low Confidence"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "conf-high-s",
                    "leftValue": "={{ $json.confidence }}",
                    "rightValue": 0.6,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "High Confidence"
            }
          ]
        },
        "options": {}
      },
      "id": "564e57ea-2770-4c7b-a0aa-d359c98acaba",
      "name": "Confidence Check (Schedule)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1072,
        112
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/1/folders/1cz3Tl7gmU0C_CPuj_YclHrE1OQlpVhu0",
          "mode": "url"
        }
      },
      "id": "00dbd10e-2e66-4deb-a118-6be58b75a782",
      "name": "Move to REVIEW (Schedule)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1296,
        -96
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MHZXjmS5iKflda5i",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r1",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Hóa đơn",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Hóa đơn"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r2",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Hợp đồng",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Hợp đồng"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r3",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "CV / Resume",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CV / Resume"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r4",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Biên nhận / Receipt",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Biên nhận"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r5",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Báo cáo tài chính",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Báo cáo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r6",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Khác",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Khác"
            }
          ]
        },
        "options": {}
      },
      "id": "2f2ea756-9d5c-44a7-8ad4-f377192c1c74",
      "name": "Document Routing (Schedule)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1296,
        208
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/1/folders/1eVepqu2WOY30GTGNBAxyjbnhGvL4uPma",
          "mode": "url"
        }
      },
      "id": "15f9c258-218f-49c8-a657-c5692bc618f7",
      "name": "Move Hóa Đơn (S)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1584,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MHZXjmS5iKflda5i",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/1/folders/1Ni90EXtfUSia6qeesCJIaLzJ_PzTfMx0",
          "mode": "url"
        }
      },
      "id": "4921aef0-c4b9-4049-9277-c8d50a20b6ea",
      "name": "Move Hợp Đồng (S)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1584,
        128
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MHZXjmS5iKflda5i",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/1/folders/13DFWV7RfkFyOKQfSLPC96ZJrR6Fj-mBF",
          "mode": "url"
        }
      },
      "id": "f6f7756d-a46f-4cbe-96fe-0c735efd8c8c",
      "name": "Move CV (S)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1584,
        256
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MHZXjmS5iKflda5i",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/1/folders/18-Aa31g2nvgwwX7misq0il1T3kddWIlC",
          "mode": "url"
        }
      },
      "id": "a82e795f-26fe-41df-a0cf-3e030b042bc6",
      "name": "Move Biên Nhận (S)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1584,
        400
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MHZXjmS5iKflda5i",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "1A16LRYa1RNPBzVsnzUVLFESUFz02FAan"
        }
      },
      "id": "5253c8f4-8415-44f5-8a36-a3b66a33315d",
      "name": "Move Báo Cáo (S)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1584,
        544
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MHZXjmS5iKflda5i",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1KwhIgNOkhW1iDeiJlk1LQ30hNGNbxHHX",
          "mode": "id"
        }
      },
      "id": "8b3466a7-7f22-40d5-b9b9-fdcc85c5bfdc",
      "name": "Move Khác (S)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1584,
        672
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MHZXjmS5iKflda5i",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18PsQ6PxVH--6rFuDeNaZoJy2u_EUjme1pMBbSa6m1jo",
          "mode": "list",
          "cachedResultName": "IDRAS - Báo cáo tự động",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18PsQ6PxVH--6rFuDeNaZoJy2u_EUjme1pMBbSa6m1jo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18PsQ6PxVH--6rFuDeNaZoJy2u_EUjme1pMBbSa6m1jo/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $node[\"Parse & Validate (Schedule)\"].json.fileId }}",
            "Tên File": "={{ $node[\"Parse & Validate (Schedule)\"].json.fileName }}",
            "Loại File": "={{ $json.mimeType }}",
            "Phân Loại": "={{ $node[\"Parse & Validate (Schedule)\"].json.category }}",
            "Độ Tự Tin": "={{ $node[\"Parse & Validate (Schedule)\"].json.confidence }}",
            "Lý Do": "={{ $node[\"Parse & Validate (Schedule)\"].json.reason }}",
            "Thời Gian": "={{ $node[\"Parse & Validate (Schedule)\"].json.processedAt }}",
            "Nguồn": "={{ $node[\"Parse & Validate (Schedule)\"].json.source }}",
            "Trạng Thái": "Thành công"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tên File",
              "displayName": "Tên File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Loại File",
              "displayName": "Loại File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Phân Loại",
              "displayName": "Phân Loại",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Độ Tự Tin",
              "displayName": "Độ Tự Tin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Lý Do",
              "displayName": "Lý Do",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Thời Gian",
              "displayName": "Thời Gian",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Nguồn",
              "displayName": "Nguồn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Trạng Thái",
              "displayName": "Trạng Thái",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ce379b2f-7981-43d1-af0e-eccb54c37f49",
      "name": "Log to Sheets (Schedule)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1936,
        224
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "u5rvbXAonwPYUErM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18PsQ6PxVH--6rFuDeNaZoJy2u_EUjme1pMBbSa6m1jo",
          "mode": "list",
          "cachedResultName": "IDRAS - Báo cáo tự động",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18PsQ6PxVH--6rFuDeNaZoJy2u_EUjme1pMBbSa6m1jo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18PsQ6PxVH--6rFuDeNaZoJy2u_EUjme1pMBbSa6m1jo/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $node[\"Parse & Validate (Schedule)\"].json.fileId }}",
            "Tên File": "={{ $node[\"Parse & Validate (Schedule)\"].json.fileName }}",
            "Loại File": "={{ $node[\"Parse & Validate (Schedule)\"].json.miniType }}",
            "Phân Loại": "={{ $node[\"Parse & Validate (Schedule)\"].json.category }}",
            "Độ Tự Tin": "={{ $node[\"Parse & Validate (Schedule)\"].json.confidence }}",
            "Lý Do": "={{ $node[\"Parse & Validate (Schedule)\"].json.reason }}",
            "Thời Gian": "={{ $node[\"Parse & Validate (Schedule)\"].json.processedAt }}",
            "Nguồn": "={{ $node[\"Parse & Validate (Schedule)\"].json.source }}",
            "Trạng Thái": "Can Review"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tên File",
              "displayName": "Tên File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Loại File",
              "displayName": "Loại File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phân Loại",
              "displayName": "Phân Loại",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Độ Tự Tin",
              "displayName": "Độ Tự Tin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lý Do",
              "displayName": "Lý Do",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thời Gian",
              "displayName": "Thời Gian",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nguồn",
              "displayName": "Nguồn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng Thái",
              "displayName": "Trạng Thái",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f26da026-f1ab-42d5-912c-d0ca7d8e780f",
      "name": "Log Review to Sheets (Schedule)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1744,
        -96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "u5rvbXAonwPYUErM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "91499673-0a38-45fc-bc68-e866803290a1",
      "name": "Extract Text Only (Schedule)",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        336,
        336
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {}
      },
      "id": "9910b721-5b5a-45cd-8663-0788e544e547",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -128,
        112
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MHZXjmS5iKflda5i",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        592,
        320
      ],
      "id": "de75c32a-0d3c-42ed-a7ea-1b9b4faaac3f",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "evTS09QZVplWFVYB",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst binaryData = item.binary.data;\n\nreturn [{\n  json: {\n    fileName: item.json.name || \"document.png\",\n    imageBase64: binaryData.data,\n    mimeType: binaryData.mimeType\n  }\n}];"
      },
      "id": "69387ff0-3c70-48d6-a426-505d475f91db",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        336,
        32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ocr.space/parse/image",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "K87626302188957"
            },
            {
              "name": "base64Image",
              "value": "=data:{{$json.mimeType}};base64,{{$json.imageBase64}}"
            },
            {
              "name": "language",
              "value": "vie"
            }
          ]
        },
        "options": {}
      },
      "id": "070e2592-49b3-41ce-92f0-e07f41be544b",
      "name": "OCR Space",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        544,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Bạn là chuyên gia phân loại tài liệu IDRAS. Hãy trả về 1 từ duy nhất trong các nhóm: [Hóa đơn, Hợp đồng, CV, Khác].\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Phân loại văn bản này: {{ $json.ParsedResults[0].ParsedText }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "d26e08e6-8d38-4eef-821c-23bb80b52602",
      "name": "Groq Classify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        768,
        -80
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o780gIpLXwRWbnqa",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "phuongnx.23ite@vku.udn.vn",
        "subject": "=⚠️ [IDRAS] Tài liệu cần xem xét thủ công: {{ $node[\"Parse & Validate (Schedule)\"].json.fileName }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; border: 1px solid #e0e0e0; border-radius: 8px; overflow: hidden;\">\n  <div style=\"background: #f57c00; padding: 20px 24px;\">\n    <h2 style=\"color: white; margin: 0;\">⚠️ IDRAS – Tài liệu cần xem xét thủ công</h2>\n  </div>\n  <div style=\"padding: 24px;\">\n    <table style=\"width: 100%; border-collapse: collapse;\">\n      <tr style=\"border-bottom: 1px solid #f0f0f0;\">\n        <td style=\"padding: 10px 0; color: #666; width: 160px;\">📄 Tên file</td>\n        <td style=\"padding: 10px 0; font-weight: bold;\">{{ $node[\"Parse & Validate (Schedule)\"].json.fileName }}</td>\n      </tr>\n      <tr style=\"border-bottom: 1px solid #f0f0f0;\">\n        <td style=\"padding: 10px 0; color: #666;\">🏷️ Phân loại đề xuất</td>\n        <td style=\"padding: 10px 0; font-weight: bold;\">{{ $node[\"Parse & Validate (Schedule)\"].json.category }}</td>\n      </tr>\n      <tr style=\"border-bottom: 1px solid #f0f0f0;\">\n        <td style=\"padding: 10px 0; color: #666;\">📊 Độ tự tin</td>\n        <td style=\"padding: 10px 0;\"><span style=\"background: #fff3e0; color: #e65100; padding: 2px 10px; border-radius: 12px; font-weight: bold;\">{{ ($node[\"Parse & Validate (Schedule)\"].json.confidence * 100).toFixed(0) }}% – Thấp</span></td>\n      </tr>\n      <tr style=\"border-bottom: 1px solid #f0f0f0;\">\n        <td style=\"padding: 10px 0; color: #666;\">💬 Lý do</td>\n        <td style=\"padding: 10px 0;\">{{ $node[\"Parse & Validate (Schedule)\"].json.reason }}</td>\n      </tr>\n      <tr style=\"border-bottom: 1px solid #f0f0f0;\">\n        <td style=\"padding: 10px 0; color: #666;\">🕐 Thời gian xử lý</td>\n        <td style=\"padding: 10px 0;\">{{ $node[\"Parse & Validate (Schedule)\"].json.processedAt }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px 0; color: #666;\">📡 Nguồn</td>\n        <td style=\"padding: 10px 0;\">{{ $node[\"Parse & Validate (Schedule)\"].json.source }}</td>\n      </tr>\n    </table>\n    <div style=\"margin-top: 20px; padding: 14px; background: #fff8e1; border-left: 4px solid #f57c00; border-radius: 4px;\">\n      👉 File đã được chuyển tự động vào thư mục <strong>REVIEW</strong> trên Google Drive. Vui lòng kiểm tra và phân loại lại thủ công.\n    </div>\n  </div>\n  <div style=\"background: #f5f5f5; padding: 12px 24px; text-align: center; color: #999; font-size: 12px;\">\n    IDRAS – Intelligent Document Routing Automation System\n  </div>\n</div>",
        "options": {}
      },
      "id": "ed68f3ac-e323-467a-9d1a-0acea8c691d3",
      "name": "Notify Gmail (Schedule)2",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1984,
        -96
      ],
      "webhookId": "c7e68fc1-9d35-4133-a001-bc0aa5ae2397",
      "credentials": {
        "gmailOAuth2": {
          "id": "SZk5T4mp3LOy7E8g",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "confidence": "={{ $node[\"Parse & Validate (Schedule)\"].json.confidence }}",
            "file_name": "={{ $node[\"Parse & Validate (Schedule)\"].json.fileName }}",
            "file_type": "={{ $node[\"Parse & Validate (Schedule)\"].json.miniType }}",
            "category": "={{ $node[\"Parse & Validate (Schedule)\"].json.category }}",
            "reason": "={{ $node[\"Parse & Validate (Schedule)\"].json.reason }}",
            "source": "={{ $node[\"Parse & Validate (Schedule)\"].json.source }}",
            "status": "success",
            "google_drive_id": "={{ $node[\"Parse & Validate (Schedule)\"].json.fileId }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "file_name",
              "displayName": "file_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "file_type",
              "displayName": "file_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "google_drive_id",
              "displayName": "google_drive_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2224,
        224
      ],
      "id": "e43c655d-e623-4177-8e29-04b1d495c4bf",
      "name": "insert database",
      "credentials": {
        "postgres": {
          "id": "nmlouXFgCyy9nj0X",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "confidence": "={{ $node[\"Parse & Validate (Schedule)\"].json.confidence }}",
            "file_name": "={{ $node[\"Parse & Validate (Schedule)\"].json.fileName }}",
            "file_type": "={{ $node[\"Parse & Validate (Schedule)\"].json.miniType }}",
            "category": "={{ $node[\"Parse & Validate (Schedule)\"].json.category }}",
            "reason": "={{ $node[\"Parse & Validate (Schedule)\"].json.reason }}",
            "source": "={{ $node[\"Parse & Validate (Schedule)\"].json.source }}",
            "google_drive_id": "={{ $node[\"Parse & Validate (Schedule)\"].json.fileId }}",
            "status": "Can Review"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "file_name",
              "displayName": "file_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "file_type",
              "displayName": "file_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "google_drive_id",
              "displayName": "google_drive_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2304,
        -96
      ],
      "id": "6859c2a7-5f36-418e-95c8-7e721559a2a8",
      "name": "Insert database",
      "credentials": {
        "postgres": {
          "id": "nmlouXFgCyy9nj0X",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search INBOX (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search INBOX (Schedule)": {
      "main": [
        [
          {
            "node": "Loop Over Items (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items (Schedule)": {
      "main": [
        [],
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Type Switch (Schedule)": {
      "main": [
        [
          {
            "node": "Extract PDF (Schedule)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Text/Office (Schedule)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Text Only (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF (Schedule)": {
      "main": [
        [
          {
            "node": "AI Classify (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text/Office (Schedule)": {
      "main": [
        [
          {
            "node": "AI Classify (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Classify (Schedule)": {
      "main": [
        [
          {
            "node": "Parse & Validate (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate (Schedule)": {
      "main": [
        [
          {
            "node": "Confidence Check (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confidence Check (Schedule)": {
      "main": [
        [
          {
            "node": "Move to REVIEW (Schedule)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Document Routing (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to REVIEW (Schedule)": {
      "main": [
        [
          {
            "node": "Log Review to Sheets (Schedule)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Gmail (Schedule)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Routing (Schedule)": {
      "main": [
        [
          {
            "node": "Move Hóa Đơn (S)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move Hợp Đồng (S)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move CV (S)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move Biên Nhận (S)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move Báo Cáo (S)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move Khác (S)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Hóa Đơn (S)": {
      "main": [
        [
          {
            "node": "Log to Sheets (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Hợp Đồng (S)": {
      "main": [
        [
          {
            "node": "Log to Sheets (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move CV (S)": {
      "main": [
        [
          {
            "node": "Log to Sheets (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Biên Nhận (S)": {
      "main": [
        [
          {
            "node": "Log to Sheets (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Báo Cáo (S)": {
      "main": [
        [
          {
            "node": "Log to Sheets (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Khác (S)": {
      "main": [
        [
          {
            "node": "Log to Sheets (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text Only (Schedule)": {
      "main": [
        [
          {
            "node": "AI Classify (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "File Type Switch (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Classify (Schedule)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Log to Sheets (Schedule)": {
      "main": [
        [
          {
            "node": "insert database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "OCR Space",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Space": {
      "main": [
        [
          {
            "node": "Groq Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Classify": {
      "main": [
        [
          {
            "node": "AI Classify (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Gmail (Schedule)2": {
      "main": [
        [
          {
            "node": "Loop Over Items (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Review to Sheets (Schedule)": {
      "main": [
        [
          {
            "node": "Insert database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert database": {
      "main": [
        [
          {
            "node": "Loop Over Items (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert database": {
      "main": [
        [
          {
            "node": "Loop Over Items (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8fb5c3c7-13d6-4c1a-8efa-bc8dd941f2eb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f4530ff2652b8dcce45824cd31ce1d5803348cedcd40a7ca2c7b13af0f62454c"
  },
  "id": "FT0UAK3dL0JjJNVe",
  "tags": []
}