n8n-workflows/Ub6SRxQM3wYqgfQ2.json
{
  "updatedAt": "2026-03-29T09:29:55.733Z",
  "createdAt": "2026-03-29T09:19:18.195Z",
  "id": "Ub6SRxQM3wYqgfQ2",
  "name": "IDRAS - Intelligent Document Router",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1gdjrSS0bSGu8-yVy98W8JVXGJvdLWPwR",
            "mode": "list",
            "cachedResultName": "INBOX",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1gdjrSS0bSGu8-yVy98W8JVXGJvdLWPwR"
          }
        },
        "options": {}
      },
      "id": "78a43793-03f1-4c48-a050-e8d4e6ef15d5",
      "name": "Search files (INBOX)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1600,
        304
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MHZXjmS5iKflda5i",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "aa27584d-c356-4254-bf3b-cfa6f5aea11f",
      "name": "Extract from PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -960,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "Bạn là chuyên gia phân loại tài liệu tiếng Việt.\n\nPhân loại chính xác tài liệu sau vào đúng 1 category:\n- Hóa đơn\n- Hợp đồng\n- CV / Resume\n- Biên nhận / Receipt\n- Báo cáo tài chính\n- Khác\n\nTrả về đúng định dạng JSON:\n{\"category\": \"Hóa đơn\", \"confidence\": 0.92, \"reason\": \"lý do ngắn gọn\"}\n\nChỉ trả về JSON, không thêm bất kỳ chữ nào khác.\n\nLƯU Ý QUAN TRỌNG: TUYỆT ĐỐI KHÔNG sử dụng định dạng markdown. KHÔNG ĐƯỢC chèn ```json hay ```. Chỉ trả về duy nhất văn bản thô bắt đầu bằng dấu { và kết thúc bằng dấu }."
        }
      },
      "id": "54e8e2f6-cef9-4c76-b2bf-3b3b62fea3f8",
      "name": "Phân loại AI",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -736,
        304
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -736,
        528
      ],
      "id": "faf213fa-4904-47b8-bc44-cd0b7e71fb68",
      "name": "Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "2lBcyK8MI6ilpt0o",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "category",
              "value": "={{ JSON.parse($json.text).category }}"
            },
            {
              "name": "confidence",
              "value": "={{ JSON.parse($json.text).confidence }}"
            },
            {
              "name": "reason",
              "value": "={{ JSON.parse($json.text).reason }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Category Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -448,
        304
      ],
      "id": "56014bcd-686c-464a-85aa-fd887ab32562"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Hóa đơn",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Hóa đơn"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Hợp đồng",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Hợp đồng"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "CV / Resume",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CV / Resume"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Biên nhận / Receipt",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Biên nhận"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Báo cáo tài chính",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Báo cáo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Khác",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Khác"
            }
          ]
        },
        "options": {}
      },
      "name": "Switch Routing",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -288,
        304
      ],
      "id": "85dadefa-8c3b-43f8-84f1-cfd5dcdf3e86"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Download File').item.json.id }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/1/folders/1eVepqu2WOY30GTGNBAxyjbnhGvL4uPma",
          "mode": "url"
        }
      },
      "id": "f6451803-11c5-454a-b0e5-9412cacf9a89",
      "name": "Move Hóa Đơn",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MHZXjmS5iKflda5i",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Download File').item.json.id }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/1/folders/1Ni90EXtfUSia6qeesCJIaLzJ_PzTfMx0",
          "mode": "url"
        }
      },
      "id": "ba20efe6-8fa9-4b2f-b2fb-e82a4e4fd5d3",
      "name": "Move Hợp Đồng",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        160
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MHZXjmS5iKflda5i",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Download File').item.json.id }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "url",
          "value": "https://drive.google.com/drive/u/1/folders/13DFWV7RfkFyOKQfSLPC96ZJrR6Fj-mBF",
          "__regex": "https:\\/\\/drive\\.google\\.com(?:\\/.*|)\\/folders\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        }
      },
      "id": "15018ce9-d473-4c35-9346-bd85c65b7bea",
      "name": "Move CV",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        304
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MHZXjmS5iKflda5i",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Download File').item.json.id }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/1/folders/18-Aa31g2nvgwwX7misq0il1T3kddWIlC",
          "mode": "url"
        }
      },
      "id": "79cc3da4-89fa-45dc-9538-666fb28fcfb5",
      "name": "Move Biên Nhận",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        448
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MHZXjmS5iKflda5i",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Download File').item.json.id }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1A16LRYa1RNPBzVsnzUVLFESUFz02FAan",
          "mode": "id"
        }
      },
      "id": "581e00e4-8efc-4132-8419-3eb99bd903ee",
      "name": "Move Báo Cáo",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        608
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MHZXjmS5iKflda5i",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Download File').item.json.id }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1KwhIgNOkhW1iDeiJlk1LQ30hNGNbxHHX",
          "mode": "id"
        }
      },
      "id": "8dfc97d3-c29e-4636-91bb-3fd1ff6971e5",
      "name": "Move Khác",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        752
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MHZXjmS5iKflda5i",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18PsQ6PxVH--6rFuDeNaZoJy2u_EUjme1pMBbSa6m1jo/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tên File": "={{ $('Search files (INBOX)').item.json.name }}",
            "Phân Loại": "={{ JSON.parse($('Set Category Data').item.json.output.replace(/```json/g, '').replace(/```/g, '')).category }}",
            "Độ Tự Tin": "={{ JSON.parse($('Set Category Data').item.json.output.replace(/```json/g, '').replace(/```/g, '')).confidence}}",
            "Lý Do": "={{ JSON.parse($('Set Category Data').item.json.output.replace(/```json/g, '').replace(/```/g, '')).reason }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Tên File",
              "displayName": "Tên File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phân Loại",
              "displayName": "Phân Loại",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Độ Tự Tin",
              "displayName": "Độ Tự Tin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lý Do",
              "displayName": "Lý Do",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "61501d81-6c39-40f8-b3d4-f5d06dac987f",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        304,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "u5rvbXAonwPYUErM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e263256d-b46a-4822-9ac7-16badef59a48",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1408,
        304
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {}
      },
      "id": "3bde0490-3278-43b5-a929-eec0d987e7a9",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1184,
        304
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MHZXjmS5iKflda5i",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1824,
        304
      ],
      "id": "c58184ec-0a7a-440d-84b9-07bfd7ae11e6",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "Switch Routing": {
      "main": [
        [
          {
            "node": "Move Hóa Đơn",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move Hợp Đồng",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move CV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move Biên Nhận",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move Báo Cáo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move Khác",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Hóa Đơn": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Hợp Đồng": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move CV": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Biên Nhận": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Báo Cáo": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Khác": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phân loại AI": {
      "main": [
        [
          {
            "node": "Set Category Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Category Data": {
      "main": [
        [
          {
            "node": "Switch Routing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from PDF": {
      "main": [
        [
          {
            "node": "Phân loại AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files (INBOX)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Phân loại AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files (INBOX)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "96a64b97-9903-4826-898e-b93752f343c0",
  "activeVersionId": null,
  "versionCounter": 10,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-03-29T09:19:18.198Z",
      "createdAt": "2026-03-29T09:19:18.198Z",
      "role": "workflow:owner",
      "workflowId": "Ub6SRxQM3wYqgfQ2",
      "projectId": "Nq2ksU2C8wxPIwww",
      "project": {
        "updatedAt": "2026-03-29T09:16:02.369Z",
        "createdAt": "2026-03-29T09:15:05.085Z",
        "id": "Nq2ksU2C8wxPIwww",
        "name": "Phuong Nguyen <phuongnguyen240805@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "1081b0d1-e156-4d4b-9908-aa75f4f30761"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}